html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(235, 229, 178);
}

table, .table-boredred, .table-dark {
    width: 80%;
    text-align: center;
    margin: auto;
    border-radius: 5px;
}

.addDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;;
    
}

.form-popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.form-popup-hide {
    display: none;
}

.form-container {
    background-color: gray;
    border-radius: 5px;
}
.title, .author, .pages, .read, .btns {
    display: flex;
    justify-content: center;
    align-items: left;
    padding: 5px;
}

.add, .cancel {
    width: 80px;
    height: 40px;
    padding: 5px;
}
.add {
    margin-right: 10px;
}
.cancel {
    margin-left: 10px;
}

.delete {
    transition: all 0.8s ease-in-out;
}
.custom-control-input, .custom-control-label {
    z-index: 1;
    transition: all 0.8s ease-in-out;
}


.custom-control {
    display: flex;
    justify-content: center;
}

input {
    outline: none;
}

.addBook {
    transition: all 0.8s ease-in-out;
}